{% include  "header.html" %}

		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li class="home"><a href="#">Account   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li>  Add Student To Class</li>
			</ul>

			<div class="row">
				<div id="content" class="col-sm-12">
					<h2 class="title">Students With Classes Add</h2>

					<form action="/Add_student_to_DB" method="POST" enctype="multipart/form-data" class="form-horizontal account-register clearfix">
						<fieldset id="account">
							<legend>Your Student Class Details</legend>
							<div class="form-group required" style="display: none;">
								<label class="col-sm-2 control-label">Customer Group</label>
								<div class="col-sm-10">
									<div class="radio">
										<label>
											<input type="radio" name="customer_group_id" value="1" checked="checked"> Default
										</label>
									</div>
								</div>
							</div>

							<!--class-->
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-class">Class</label>
								<div class="col-sm-10">
									<select name="class_id" id="input-class" class="form-control">
										<option value=""> --- Please Select --- </option>
										{% for  Id , class in data ['class'] :%}
										<option value="{{ Id }}">{{class}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<!--student-->
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-student">Student</label>
								<div class="col-sm-10">
									<select name="student_id" id="input-student" class="form-control">
										<option value=""> --- Please Select --- </option>
										{% for  Id , student in data ['student'] :%}
										<option value="{{ Id }}">{{student}}</option>
										{% endfor %}
									</select>
								</div>
							</div>




						</fieldset>

						<!--Submit-->
						<div class="buttons">
							<div class="pull-right">I have read and agree to the <a href="#" class="agree"><b>Pricing Tables</b></a>
								<input class="box-checkbox" type="checkbox" name="agree" value="1"> &nbsp;
								<input type="submit" value="Continue" class="btn btn-primary">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
		{% include  "footer.html" %}

