{% include  "header.html" %}
		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li class="home"><a href="#">Page   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li>  About Us</li>
			</ul>
			<div class="row">
				<div id="content" class="col-sm-12">
					<div class="about-us about-demo-4">
						<div class="row">
							<div class="col-lg-6 col-md-6 about-us-content">
								<div class="content-about">
									<h2 class="about-title">About Us</h2> <img src="../static/img/about/about.jpg" alt="About Us">

									<p class="description-about" style="text-align: justify ;"> TTA  was founded in 2016 by eng.ma’en waleed dherat . him goal was to create the best place online for learning electronics and provide makers with the tools and parts they need to convert their ideas into real world. Makers of all ages and skill levels are the spark for new inventions, technologies, and development. Thiers great ideas and experiments might be the solution for human in need, environmental problem or industrial difficulty. And that’s why it’s our priority at TTA to support makers from different backgrounds and expertise like engineers, programmers, school student and hobbyists to accomplish their dream projects.  </p>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 faq-about-us">
									<h2 class="about-title">Our Services</h2>
									<div class="content-faq">
										<div id="accordion" role="tablist" aria-multiselectable="true">
											<div class="panel">
												<div class="panel-head" role="tab" id="headingOne">
													<h4 class="panel">						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">						  <span>+ Students Projects Assistant?</span>						</a>					  </h4> </div>
													<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
														<div class="panel-body" style="text-align: justify;"> TTA helped hundreds of students converting their ideas into projects and beat the challenges appearing while execution. We at TTA DO NOT sell projects for students, we lead them to accomplish the projects by themselves. </div>
													</div>
												</div>

												<div class="panel">
													<div class="panel-head" role="tab" id="headingTwo">
														<h4 class="title">						<a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">						  <span>+ Electronics Retail and Whole Sale . </span>						</a>					  </h4> </div>
														<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="true">
															<div class="panel-body" style="text-align: justify;"> TTA is a leader in the field of electronics supplying in Jordan. We are pleased to say that our online store is the best in Jordan. We provide retail and whole sale services through our online store and our showroom with a very robust delivery system. Since our starting in 2016 we proudly served customers from Jordan, Palestine, Iraq, KSA and Egypt.  
																TTA team keep updating the stock with the latest technologies from the leading manufacturer in the world.  We also keep a strong relation with such manufacturers as we are the official distributors for big brands as Adafruit, tzt, Arduino. 
															 </div>
														</div>
													</div>

													<div class="panel">
														<div class="panel-head" role="tab" id="headingThree">
															<h4 class="">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">						  <span>+ Educators Support</span>						</a>					  </h4> </div>
															<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true" style="height: 0px;">
																<div class="panel-body">TTA team is delighted to share its expertise with training centers interested in starting training programs in the fields of electronics, programing, renewable energy, IoT. Our team is willing cooperate with the training center team to design the courses, the class rooms and train the instructors. </div>
															</div>
														</div>


														<div class="panel">
															<div class="panel-head" role="tab" id="headingFour">
																<h4 class="">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">						  <span>+ Custom Projects</span>						</a>					  </h4> </div>
																<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
																	<div class="panel-body" style="text-align: justify;" >TTA Team is a professional team. We are able to design and build custom hardware and software projects for company’s needs. Our services include PCB design, soldering, modeling and more . </div>
																</div>
														</div>


										</div>
									</div>
							</div>
						</div>
					</div>
												
				</div>
			</div>

			<div class="row">
					<div id="conten" class="col-sm-12">
						<div class="about-us about-demo-4">
							<div class="row">
								<div class="col-lg-6 col-md-6 about-us-content">

										<h2 class="about-title"> Our Location in Jordan</h2>
									<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d53818.1461866895!2d35.817334459063915!3d32.53591714747797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x151c76e98107ca07%3A0x9c7debbae1396da!2z2YXYrNmF2Lkg2KfZhNmF2YfZhtiv2LMg2YXZh9iv2Yog2KfZhNi32YjYp9mB2LTYqSAtIEVuZy4gTWFoZGkgVGF3YWZzaGEgQ29tcGxleCwgVW5pdmVyc2l0eSBTdCwgSXJiaWQ!3m2!1d32.535922!2d35.852354!4m5!1s0x151c76e98107ca07%3A0x9c7debbae1396da!2z2YXYrNmF2Lkg2KfZhNmF2YfZhtiv2LMg2YXZh9iv2Yog2KfZhNi32YjYp9mB2LTYqSAtIEVuZy4gTWFoZGkgVGF3YWZzaGEgQ29tcGxleCwgVW5pdmVyc2l0eSBTdCwgSXJiaWQ!3m2!1d32.535922!2d35.852354!5e0!3m2!1sen!2sjo!4v1581822658581!5m2!1sen!2sjo"
											width="600" height="450" frameborder="0" style="border:0;position:relative;right:50px;" allowfullscreen=""></iframe>

								</div>

								<div class="col-lg-6 col-md-6 faq-about-us">
										<h2 class="about-title">Our Location in UAE</h2>

									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14522.821279155783!2d54.36088556005193!3d24.49566508690904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62802b32de918041!2sBarcode%20Garments%20-%20Hamdan%20Street!5e0!3m2!1sen!2sjo!4v1581953099429!5m2!1sen!2sjo"
											width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

								</div>
							</div>
						</div>

					</div>
			</div>
		</div>

									<!-- //Main Container -->
									<!--Footer-->
									{% include  "footer.html" %}