{% include  "header.html" %}

		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li class="home"><a href="#">Account   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li>  Add Class</li>
			</ul>

			<div class="row">
				<div id="content" class="col-sm-12">
					<h2 class="title">Add Classes</h2>

					<form action="/add_items_to_db" method="POST" enctype="multipart/form-data" class="form-horizontal account-register clearfix">
						<fieldset id="account">
							<legend>Add Class Details</legend>
							<div class="form-group required" style="display: none;">
								<label class="col-sm-2 control-label">Customer Group</label>
								<div class="col-sm-10">
									<div class="radio">
										<label>
											<input type="radio" name="customer_group_id" value="1" checked="checked"> Default
										</label>
									</div>
								</div>
							</div>


<!--							<div class="form-group required">-->
<!--								<label class="col-sm-2 control-label" for="input-CategoryId">Category id</label>-->
<!--								<div class="col-sm-10">-->
<!--									<input type="number" name="category_Id" value="" placeholder="Category id" id="input-CategoryId" class="form-control">-->
<!--								</div>-->
<!--							</div>-->

							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-Courseid">Course</label>
								<div class="col-sm-10">
									<select name="Course_id" id="input-Courseid" class="form-control" required>
										<option value=""> --- Please Select --- </option>
										{% for  Id , course in data ['Courses_Class'] :%}
										<option value="{{ Id }}">{{course}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-classname">Class Name</label>
								<div class="col-sm-10">
									<input type="text" name="class_name" value="" placeholder="Class Name" id="input-classname"  class="form-control" required >
								</div>
							</div>

                            <!--Start date-->
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-startdate">Start Date</label>
								<div class="col-sm-10">
									<input type="date"  name="start_date" value=""  placeholder="DD-MM-YYYY"  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" id="input-startdate" class="form-control" required > 
								</div>
							</div>

                            <!--End date-->
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-enddate">End Date</label>
								<div class="col-sm-10">
									<input type="date"  name="end_date" value=""  placeholder="DD-MM-YYYY"  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" id="input-enddate" class="form-control" required >
								</div>
							</div>

                            <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-lecturername">Lecturer Name</label>
								<div class="col-sm-10">
									<input type="text" name="lecturer_name" value="" placeholder="Lecturer Name" id="input-lecturername"  class="form-control" required >
								</div>
							</div>

                             <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-capacity">Class Capacity</label>
								<div class="col-sm-10">
									<input type="number" name="capacity" value="" placeholder="Class Capacity" id="input-capacity"  class="form-control" required >
								</div>
							</div>


						</fieldset>


						<!--Submit-->
						<div class="buttons">
							<div class="pull-right">I have read and agree to the <a href="#" class="agree"><b>Pricing Tables</b></a>
								<input class="box-checkbox" type="checkbox" name="agree" value="1"> &nbsp;
								<input type="submit" value="Continue" class="btn btn-primary">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
		{% include  "footer.html" %}