{% include  "DB_Header.html" %}

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="/TTADP">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>

							</div>
							<div class="card shadow overflow-hidden">
								<div class="">
									<div class="row">
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
													<i class="fas fa-dollar-sign mr-2"></i>
													Today Payments
												</p>
												<h2 class="text-primary text-xxl"> $ {{ data ['Today_Sales'] }}</h2>
												<a href="/display_Payment" class="btn btn-outline-primary btn-pill btn-sm">Show Payments </a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-users mr-2"></i>
												  Students
												</p>
												<h2 class="text-yellow text-xxl">{{ data ['Number_Student'] }}</h2>
												<a href="/display_Student" class="btn btn-outline-yellow btn-pill btn-sm">Show Students</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-cart-arrow-down mr-2"></i>
												  Courses
												</p>
												<h2 class="text-warning text-xxl">{{ data ['Number_Courses'] }}</h2>
												<a href="/display_Course" class="btn btn-outline-warning btn-pill btn-sm">Show Courses</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-signal mr-2"></i>
												  Classes
												</p>
												<h2 class="text-danger text-xxl">{{ data ['Number_Classes'] }}</h2>
												<a href="/display_Class" class="btn btn-outline-danger btn-pill btn-sm">Show Classes</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-chart-line mr-2"></i>
												 Products
												</p>
												<h2 class="text-success text-xxl">{{ data ['Number_Products']}}</h2>
												<a href="/display_Item" class="btn btn-outline-success btn-pill btn-sm">Show Products</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-briefcase mr-2"></i>
												  Offers
												</p>
												<h2 class="text-primary text-xxl">{{data ['Number_Offers']}} </h2>
												<a href="#" class="btn btn-outline-primary btn-pill btn-sm">Show Offers</a>
											</div>
										</div>
									</div>
								</div>
							</div>



							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Number Of Students Per Course</h2>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="example" class="table table-striped table-bordered w-100 text-nowrap">
													<thead>
														<tr>
															<th class="wd-15p">Course Name</th>
															<th class="wd-15p">Number Of Students</th>
														</tr>
													</thead>
													<tbody>
														{% for  course in data ['Number_Students_Per_Course'] :%}
														<tr>
														<td class="wd-15p">{{course['Name']}}"</td>
														<td class="wd-15p">{{course['Number_Of_Students']}} </td>
														</tr>
														{% endfor %}
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Number Of Students Per Classes </h2>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="example" class="table table-striped table-bordered w-100 text-nowrap">
													<thead>
														<tr>
															<th class="wd-15p">class Name</th>
															<th class="wd-15p">Number Of Students</th>
														</tr>
													</thead>
													<tbody>
														{% for  class in data ['Number_Students_Per_Class'] :%}
														<tr>
														<td class="wd-15p">{{class['Name']}}"</td>
														<td class="wd-15p">{{class['Number_Of_Students']}} </td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
	
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>





					</div>
				</div>
			</div>
			<!-- app-content-->
		</div>
	</div>
{% include  "DB_Footer.html" %}