{% include  "DB_Header.html" %}

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="/TTADP">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Sales Dashboard</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>
							<div class="card shadow overflow-hidden">
								<div class="">
									<div class="row">
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
													<i class="fas fa-dollar-sign mr-2"></i>
													Today Payments
												</p>
												<h2 class="text-primary text-xxl"> $ {{ data ['Today_Sales'] }}</h2>
												<a href="#" class="btn btn-outline-primary btn-pill btn-sm">Show Payments </a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-users mr-2"></i>
												  Students
												</p>
												<h2 class="text-yellow text-xxl">{{ data ['Number_Student'] }}</h2>
												<a href="#" class="btn btn-outline-yellow btn-pill btn-sm">Show Students</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-cart-arrow-down mr-2"></i>
												  Courses
												</p>
												<h2 class="text-warning text-xxl">{{ data ['Number_Courses'] }}</h2>
												<a href="#" class="btn btn-outline-warning btn-pill btn-sm">Show Courses</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-signal mr-2"></i>
												  Classes
												</p>
												<h2 class="text-danger text-xxl">{{ data ['Number_Classes'] }}</h2>
												<a href="#" class="btn btn-outline-danger btn-pill btn-sm">Show Classes</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-chart-line mr-2"></i>
												 Products
												</p>
												<h2 class="text-success text-xxl">{{ data ['Number_Products']}}</h2>
												<a href="#" class="btn btn-outline-success btn-pill btn-sm">Show Products</a>
											</div>
										</div>
										<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
											<div class="text-center">
												<p class="text-light">
												  <i class="fas fa-briefcase mr-2"></i>
												  Offers
												</p>
												<h2 class="text-primary text-xxl">{{data ['Number_Offers']}} </h2>
												<a href="#" class="btn btn-outline-primary btn-pill btn-sm">Show Offers</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-3">
									<div class="card shadow overflow-hidden">
										<div class="card-body">
											<div class="widget text-center">
												<div><i class="fas fa-users fa-5x text-yellow"></i></div>
												<h4 class="text-muted mt-2 mb-0">Online Visitors</h4>
												<h2 class="display-2 mb-0">25,685</h2>
												<a href="#" class="btn btn-outline-yellow mt-3 btn-sm btn-pill">view all</a>
											</div>
										</div>
										<span class="updating-chart" data-peity='{ "fill": ["#ffa21d"]}'>5,3,9,6,5,9,2,5,3,A6,7,8,6</span>
									</div>
								</div>
								<div class="col-xl-3">
									<div class="">
										<div class="">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-sm-12">
													<div class="card shadow overflow-hidden">
														<div class="card-body pb-0">
															<div class="widget text-center">
																<small class="text-muted">Sales Monthly</small>
																<h2 class="text-xxl mb-0">$ 8,343</h2>
															</div>
														</div>
														<span class="bar" data-peity='{ "fill": ["#00c3ed"]}'>5,4,5,2,8,4,5,6,5,2,4,4,8,4,6,2,3,4</span>
													</div>
													<div class="card shadow overflow-hidden">
														<div class="card-body pb-0">
															<div class="widget text-center">
																<small class="text-muted">Sales Weekly</small>
																<h2 class="text-xxl mb-0">$ 683</h2>
															</div>
														</div>
														<span class="bar" data-peity='{ "fill": ["#18b16f"]}'>5,4,5,2,8,4,5,6,5,2,4,4,8,4,6,2,3,4</span>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-6">
									<div class="">
										<div class="">
											<div class="row">
												<div class="col-xl-6 col-lg-6 col-sm-6">
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="">Average Revenue per unit</small>
																<h2 class="text-xxl mb-1 text-success">$ 142</h2>
																<p class="mb-0"><span class=""><i class="fas fa-caret-up ml-1 text-success"></i> 4%</span>  last month</p>
															</div>
														</div>
													</div>
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="">Customer Lifetime Value</small>
																<h2 class="text-xxl mb-1 text-yellow">$ 256</h2>
																<p class="mb-0"><span class=""><i class="fas fa-caret-down text-danger ml-1"></i> 5%</span> last month</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-sm-6">
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="">Customer Acquisition Cost</small>
																<h2 class="text-xxl text-primary mb-1">$ 329</h2>
																<p class="mb-0"><span class=""><i class="fas fa-caret-up text-success ml-1"></i> 6%</span> last month</p>
															</div>
														</div>
													</div>
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="">Monthly Sales Growth</small>
																<h2 class="text-xxl text-danger mb-1">12%</h2>
																<p class="mb-0"><span class=""><i class="fas fa-caret-down text-danger ml-1"></i> 8%</span> last month</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xl-7">
									<div class="card  shadow overflow-hidden">
										<div class="card-header bg-transparent ">
											<div class="row align-items-center">
												<div class="col">
													<h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
													<h2 class="mb-0">Details Of Revenue and profit</h2>
												</div>

											</div>
										</div>
										<div class="card-body">
											<!-- Chart -->
											<div id="echart" class="chart-dropshadow h-400"></div>
										</div>
									</div>
								</div>
								<div class="col-xl-5">
									<div class="card  shadow overflow-hidden">
										<div class="card-header bg-transparent">
											<div class="row align-items-center">
												<div class="col">
													<h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
													<h2 class="mb-0">Monthly Sales Performance</h2>
												</div>

											</div>
										</div>
										<div class="card-body">
											<!-- Chart -->
											<div id="echart2" class="chart-dropshadow h-400"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- app-content-->
		</div>
	</div>
{% include  "DB_Footer.html" %}