

{% include  "DB_Header.html" %}




						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Category</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<div class="card overflow-hidden shadow">
										<div class="card-header">
											<h4>ADD Category</h4>

											<h4>{{data ['messages'] }}</h4>
										</div>
										<!--form -->
										<div class="card-body">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<form action="/add_category_to_db" method="post"  >
															<label>Name</label>
															<input type="text" name="category_name" placeholder="Category Name"
															   value="" class="form-control w-100" required >
															<br>
															<label>Type</label>
															<select class="form-control select2 w-100" name="category_type" required >
																<option selected="selected" value="2">Courses</option>
																<option value="1">Products</option>
															</select>

<!--															<input type="submit" value="ADD Category" class="login100-form-btn btn-primary">-->
															<div class="container-login100-form-btn">
																	<input  type="submit" name="ADD_Category" value="ADD Category" class="login100-form-btn btn-primary"
																							style="background:#00c3ed">
															</div>

														</form>


													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--app-content-->
		</div>
	</div>
{% include  "DB_Footer.html" %}