{% include  "DB_Header.html" %}
						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Post</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Add Post / Achievements</h2>
											<h2 class="mb-0">{{data['message']}}</h2>
										</div>
										<div class="card-body">
											<div class="row">

												<div class="col-md-12">
													<div class="form-group">
														<form action="/add_post_to_db" method="post" enctype="multipart/form-data" >


															<label>Title</label>
															<input type="text" name="post_title" value="" placeholder="Post Title"  class="form-control w-100" required  >
															<br>

															<label>Brief</label>
															<textarea rows="3"  name="post_brief" placeholder="Post Brief" class="form-control w-100"   required > </textarea>
															<br>

															<label>Content</label>
															<textarea rows="8"  name="post_content" placeholder="Post Content" class="form-control w-100"   required > </textarea>

															<br>


															<label>Media</label>
															<input type="file" name="post_media" value="" placeholder="Post Media"  class="form-control w-100">
															<br>

															
															<label>Type</label>
															<select class="form-control select2 w-100" name="post_type" required >
																<option selected="selected" value="1">Achievements</option>
																<option value="2">Post</option>
															</select>
															<br>

															<div class="container-login100-form-btn">
																	<input  type="submit" name="ADD_Post" value="ADD Post" class="login100-form-btn btn-primary"
																							style="background:#00c3ed">
															</div>


														</form>


													</div>
												</div>
											</div>
										</div>
									</div>




						</div>
					</div>
						</div>
					</div>
				</div>
			</div>
			<!-- app-content -->
		</div>
	</div>

	{% include  "DB_Footer.html" %}