{% include  "DB_Header.html" %}
						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Student & Class</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Add Student to Class</h2>
										</div>
										<div class="card-body">
											<div class="row">

												<div class="col-md-12">
													<div class="form-group">
														<form action="/Add_student_class_to_DB" method="POST"  >

															<label>Class</label>
															<select name="class_id" id="input-class" class="form-control">
																<option value=""> --- Please Select --- </option>
																{% for  class in data ['all_classes'] :%}
																<option value="{{ class['Id'] }}">{{class ['Class_Name'] }}</option>
																{% endfor %}
															</select>
															<br>

															<label>Student</label>
															<select name="student_id" id="input-student" class="form-control">
																<option value=""> --- Please Select --- </option>
																{% for  student in data ['all_student'] :%}
																<option value="{{ student ['Id'] }}">{{student ['FirstName']}}  {{student ['LastName']}}</option>
																{% endfor %}
															</select>
															<br>


															<div class="container-login100-form-btn">
																	<input  type="submit" name="ADD_Student" value="ADD Student" class="login100-form-btn btn-primary"
																							style="background:#00c3ed">
															</div>

														</form>


													</div>
												</div>
											</div>
										</div>
									</div>




						</div>
					</div>

						</div>
					</div>
				</div>
			</div>
			<!--app-content-->
		</div>
	</div>
{% include  "DB_Footer.html" %}