	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Ansta Scripts -->

	<!-- Core -->
	<script src="../static/DashBoard/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script src="../static/DashBoard/assets/js/popper.js"></script>
	<script src="../static/DashBoard/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Optional JS -->
	<script src="../static/DashBoard/assets/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="assets/plugins/chart.js/dist/Chart.extension.js"></script>

	<!-- Data tables -->
	<script src="../static/DashBoard/assets/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="../static/DashBoard/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>


	<!--Select2 js-->
	<script src="../static/DashBoard/assets/plugins/select2/select2.full.js"></script>

	<!-- Fullside-menu Js-->
	<script src="../static/DashBoard/assets/plugins/toggle-sidebar/js/sidemenu.js"></script>

	<!-- Custom scroll bar Js-->
	<script src="../static/DashBoard/assets/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Ansta JS -->
	<script src="../static/DashBoard/assets/js/custom.js"></script>
	<script src="../static/DashBoard/assets/js/select2.js"></script>

	<!-- Echarts JS -->
	<script src="../static/DashBoard/assets/plugins/chart-echarts/echarts.js"></script>

	<!-- peitychart -->
	<script src="../static/DashBoard/assets/plugins/peitychart/jquery.peity.min.js"></script>
	<script src="../static/DashBoard/assets/plugins/peitychart/peitychart.init.js"></script>

	<!-- Vector Plugin -->
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/gdp-data.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-uk-mill-en.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-au-mill.js"></script>
	<script src="../static/DashBoard/assets/plugins/jvectormap/jquery-jvectormap-ca-lcc.js"></script>
	<script src="../static/DashBoard/assets/js/dashboard2map.js"></script>


	<!-- Ansta JS -->
	<script src="../static/DashBoard/assets/js/custom.js"></script>
	<script src="../static/DashBoard/assets/js/dashboard-sales.js"></script>


	<!-- file uploads js -->
    <script src="../static/DashBoard/assets/plugins/fileuploads/js/dropify.min.js"></script>

	<script>
		$('.dropify').dropify({
			messages: {
				'default': 'Drag and drop a file here or click',
				'replace': 'Drag and drop or click to replace',
				'remove': 'Remove',
				'error': 'Ooops, something wrong appended.'
			},
			error: {
				'fileSize': 'The file size is too big (2M max).'
			}
		});
	</script>



		<script>
		$(function(e) {
			$('#example').DataTable();

			var table = $('#example1').DataTable();
			$('button').click( function() {
				var data = table.$('input, select').serialize();
				alert(
					"The following data would have been submitted to the server: \n\n"+
					data.substr( 0, 120 )+'...'
				);
				return false;
			});
			$('#example2').DataTable( {
				"scrollY":        "200px",
				"scrollCollapse": true,
				"paging":         false
			});
		} );

	</script>
</body>


</html>