{% include  "DB_Header.html" %}

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Tables</a></li>
									<li class="breadcrumb-item active" aria-current="page">Student Tables</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Student Table</h2>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="example" class="table table-striped table-bordered w-100 text-nowrap" width="100px" >
													<thead>
														<tr>
															<th class="wd-15p">FirstName</th>
															<th class="wd-15p">LastName</th>
															<th class="wd-15p">Phone</th>
															<th class="wd-10p">Email</th>
															<th class="wd-25p">Address</th>
															<th class="wd-20p">University</th>
															<th class="wd-20p">Specialization</th>
															<th class="wd-20p">Option</th>
															<th class="wd-20p">Option</th>

														</tr>
													</thead>
													<tbody>
														{% for  student in data ['student'] :%}
														<tr>
															<form action="/update_student" method="post" enctype="multipart/form-data">
																<input type="hidden" name="student_Id" value="{{student['Id']}}">
																<td class="wd-15p" contenteditable="true"><input type="text" name="FirstName" value=" {{student['FirstName']}}"></td>
																<td class="wd-15p" contenteditable="true"><input type="text" name="LastName" value=" {{student['LastName']}} "></td>
																<td class="wd-15p" contenteditable="true"><input type="Phone" name="Phone"  value=" {{student['Phone']}} "></td>
																<td class="wd-10p" contenteditable="true"><input type="email" name="Email" value=" {{student['Email']}} "></td>


																<td class="wd-20p">
																	<select name="city_id"  class="form-control"   >
																	<option value="{{student['Address_Id']}}" selected> {{student['Address']}}</option>
																	{% for Id, city in data ['Cities'] :%}
																	<option value="{{ Id }}">{{city}}</option>
																	{% endfor %}
																	</select>
																</td>

																<td class="wd-25p">
																	<select name="university_id"  class="form-control"  >
																	<option value="{{student['University_Id']}}" selected> {{student['University']}}</option>
																	{% for Id, University in data ['University'] :%}
																	<option value="{{ Id }}">{{University}}</option>
																	{% endfor %}
																	</select>
																</td>
																<td class="wd-25p">
																	<select name="specialization_id"  class="form-control"  >
																	<option value="{{student['Specialization_Id']}}" selected>  {{student['Specialization']}}</option>
																	{% for Id, Specialization in data ['Specialization'] :%}
																	<option value="{{ Id }}">{{Specialization}}</option>
																	{% endfor %}
																	</select>
																</td>


																<td  class="wd-25p">
																		<input  type="submit" name="ADD_Student" value="Save Edit"
																					class="login100-form-btn btn-primary">

																</td>
															</form>
															<td class="wd-25p">
																	<input  type="button" name="ADD_Student" value="x" onClick="delete_me({{student['Id']}})"
																				class="login100-form-btn btn-primary" style="background: red;">
															</td>
															<script>
																function delete_me(id_student)
																{
																 	if(confirm("Are You Want to delete Student")){
																 		window.location.href='/delete_student/' + id_student +'';
																 		return true;
																 	}
																}
															</script>
														</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% include  "DB_Footer.html" %}