
{% include  "DB_Header.html" %}
	<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Pages</a></li>
									<li class="breadcrumb-item active" aria-current="page">All Tables</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="card shadow ">
										<div class="card-body pb-0">
											<div class="tab-content" id="myTabContent">
												<div class="tab-pane fade " id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
													<h2>About Me</h2>
													<p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>

													<div class="media-heading mt-3">
														<h3><strong>Biography</strong></h3>
													</div>
													<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
													<p class="mb-4">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
												</div>

												<div class="tab-pane fade show active" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
													<div class="row">
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/14.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/19.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/20.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/4.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/5.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/6.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/7.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/8.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="../static/DashBoard/assets/img/photos/9.jpg" alt="gallery">
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
													<div class="row profile ng-scope">
														<div class="col-md-12">
															<div class="card">
																<form class="mt ng-pristine ng-valid" action="#">
																	<div class="form-group mb-0">
																		<label class="sr-only" for="new-event">New event</label>
																		<textarea class="form-control border-top-0 border-left-0 border-right-0 border-radius-0" id="new-event" placeholder="Post something..." rows="3"></textarea>
																	</div>
																	<div class="btn-toolbar">
																		<div class="btn-group"><a href="#" class="btn btn-sm btn-gray"><i class="fa fa-camera fa-lg"></i></a> <a href="#" class="btn btn-sm btn-gray"><i class="fa fa-map-marker fa-lg"></i></a>
																		</div>
																		<button type="submit" class="btn btn-danger btn-sm pull-right">Post</button>
																	</div>
																</form>
															</div>
															<div class="activities">
																<section class="event card shadow">
																	<div class="d-flex">
																		<span class="thumb-sm avatar pull-left mr-sm"><img class="img-circle" src="../static/DashBoard/assets/img/faces/female/32.jpg" alt="..."></span>
																		<div >
																			<h4 class="event-heading"><a href="#">John doe</a> <small><a href="#">@nils</a></small></h4>
																			<p class="text-xs text-muted">February 22, 2014 at 01:59 PM</p>
																		</div>
																	</div>
																	<p class="text-sm mb-0">There is no such thing as maturity. There is instead an ever-evolving process of maturing. Because when there is a maturity, there is ...</p>
																	<footer>
																		<ul class="post-links">
																			<li><a href="#">1 hour</a>
																			</li>
																			<li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a>
																			</li>
																			<li><a href="#">Comment</a>
																			</li>
																		</ul>
																	</footer>
																</section>
																<section class="event card shadow">
																	<h4 class="event-heading"><a href="#">john doe</a> <small>@jess</small></h4>
																	<p class="text-xs text-muted">February 22, 2014 at 01:59 PM</p>
																	<p class="text-sm mb-0">Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside my brand new HDD 40TB. Thanks god I found it!</p>
																	<footer>
																		<div class="clearfix">
																			<ul class="post-links mt-sm pull-left pb-2">
																				<li><a href="#">1 hour</a>
																				</li>
																				<li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a>
																				</li>
																				<li><a href="#">Comment</a>
																				</li>
																			</ul>
																		</div>
																		<ul class="post-comments mt-sm mb-0">
																			<li class="d-flex"><span class="thumb-sm avatar float-left mr-sm "><img class="img-circle" src="../static/DashBoard/assets/img/faces/female/32.jpg" alt="..."></span>
																				<div class="comment-body">
																					<h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
																					<p class="text-xs">Hey, have you heard anything about that?</p>
																				</div>
																			</li>
																			<li><span class="thumb-sm avatar float-left mr-sm"><img class="img-circle" src="assets/img/faces/female/2.jpg" alt="..."></span>
																				<div class="comment-body">
																					<input class="form-control input-sm" type="text" placeholder="Write your comment...">
																				</div>
																			</li>
																		</ul>
																	</footer>
																</section>

															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
													<p>Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
													<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
													<p class="mb-4">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% include  "DB_Footer.html" %}