<!-- Footer Container -->
<footer class="footer-container type_footer2">


	<!-- Footer Top Container -->

	<div class="footer-mid">
		<div class="container">
			<div class="row">
				<div class=" help">
					<div class="footer-mid-left col-sm-6 col-xs-12">
						<h3>NEED HELP? </h3>
						<p>SUPPORT TEAM 24/7 AT (844) 555-8386</p>
					</div>
					<div class="footer-mid-right col-sm-6 col-xs-12">
						<div class="btn-sub">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Your email address ..." name="search">
							<button type="submit" class="button-search btn btn-primary" name="submit_search">Subscribe</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer Mid -->
	<section class="footer-top">
		<div class="container content">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class=" collapsed-block ">
						<div class="module clearfix">
							<h3 class="modtitle">Contact Us	</h3>
							<div class="modcontent">
								<ul class="contact-address">
									<li><p><span class="fa fa-home"></span><span>Address : </span> Jordan, Irbid office 102 First floor<br>Eng. Mahdi Tawafsha complex AlJama'a Street  </p></li>
									<li><p><span class="fa fa-home"></span><span>Address : </span> UAE, Abu Dhabi</p></li>
									<li><span class="fa fa-envelope-o"></span><span>Email : </span> <a href="mailto:tabasheer@gmail.com"> tabasheer@gmail.com</a></li>
									<li><p><span class="fa fa-phone"> </span><span>Phone (Jordan) : </span> 00962780140282 / 00962790931642</p> </li>
									<li><p><span class="fa fa-phone"> </span><span>Phone (UAE) : </span> 00971524620600</p> </li>
								</ul>
							</div>
							<div class="share-icon">
								<ul>
									<li class="facebook"><a href="https://www.facebook.com/TTA.IRBED/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="https://twitter.com/tabasheeracad"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="box-information">
						<div class="module clearfix">
							<h3 class="modtitle">Information</h3>
							<div class="modcontent">
								<ul class="menu">
									<li><a href="/about">About Us</a></li>
									<li><a href="/faqs">FAQ</a></li>
									<li><a href="order-history.html">Order history</a></li>
									<li><a href="order-information.html">Order information</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class=" box-extras">
						<div class="module clearfix">
							<h3 class="modtitle">Extras</h3>
							<div class="modcontent">
								<ul class="menu">
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="return.html">Returns</a></li>
									<li><a href="sitemap.html">Site Map</a></li>
									<li><a href="my-account.html">My Account</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="box-account">
						<div class="module clearfix">
							<h3 class="modtitle">My Account</h3>
							<div class="modcontent">
								<ul class="menu">
									<li><a href="#">Brands</a></li>
									<li><a href="gift-voucher.html">Gift Vouchers</a></li>
									<li><a href="#">Affiliates</a></li>
									<li><a href="/TTADP">Specials</a></li>
									<li><a href="#" target="_blank">Our Blog</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				



			</div>
		</div>
	</section>
	<!-- /Footer Top Container -->


	<div class="footer-bottom-block ">
		<div class=" container">
			<div class="row">
				<div class="footer-bottom-header">
					<div class="col-xs-12 col-sm-5 download">
						<h3 class="hidden-md">Download Our App</h3>
						<a href="#"><img  src="../static/img/demo/download/app.jpg" alt=""></a>
						<a href="#"><img  src="../static/img/demo/download/ggplay.jpg" alt=""></a>
					</div>
					<div class="col-xs-12 col-sm-7 pay">
						<ul>
							<li><img  src="../static/img/demo/payment/visa.jpg" alt=""></li>
							<li><img  src="../static/img/demo/payment/meastro.jpg" alt=""></li>
							<li><img  src="../static/img/demo/payment/paypal.jpg" alt=""></li>
							<li><img  src="../static/img/demo/payment/union.jpg" alt=""></li>
							<li><img  src="../static/img/demo/payment/cirrus.jpg" alt=""></li>
							<li><img  src="../static/img/demo/payment/ebay.jpg" alt=""></li>
						</ul>
					</div>
				</div>

				<div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
			</div>
		</div>
	</div>
</footer>

</div>
<!-- Social widgets -->
<!-- End Social widgets -->
</div>

<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript"  src="../static/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript"  src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="../static/js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/libs.js"></script>
	<script type="text/javascript"  src="../static/js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript"  src="../static/js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript"  src="../static/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/moment.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"  src="../static/js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript"  src="../static/js/modernizr/modernizr-2.6.2.min.js"></script>


<!-- Theme files
	============================================ -->
	<script type="text/javascript"  src="../static/js/themejs/application.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/homepage.js"></script>
	<!-- <script type="text/javascript"  src="../static/js/themejs/toppanel.js"></script> -->
	<script type="text/javascript"  src="../static/js/themejs/so_megamenu.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/addtocart.js"></script>	
	<!-- <script type="text/javascript"  src="../static/js/themejs/pathLoader.js"></script>	 -->


	
	
</body>
</html>