<!-- Footer Container -->
<footer class="footer-container type_footer2">


	<!-- Footer Top Container -->



	<!-- Footer Mid -->
	<section class="footer-top">
		<div class="container content">
			<div class="row">
				<div class="col-xs-12 col-sm-12">

					<div class=" collapsed-block ">
						<div class="module clearfix">
							<h3 class="modtitle">Contact Us	</h3>
							<div class="modcontent">
								<ul class="contact-address">
									<li><p><span class="fa fa-home"></span><span>Address : </span> Jordan, Irbid office 102 First floor<br>Eng. Mahdi Tawafsha complex AlJama'a Street  </p></li>
									<li><p><span class="fa fa-home"></span><span>Address : </span> UAE, Abu Dhabi</p></li>
									<li><span class="fa fa-envelope-o"></span><span>Email : </span> <a href="mailto:tabasheer@gmail.com"> tabasheer@gmail.com</a></li>
									<li><p><span class="fa fa-phone"> </span><span>Phone (Jordan) : </span> 00962780140282 / 00962790931642</p> </li>
									<li><p><span class="fa fa-phone"> </span><span>Phone (UAE) : </span> 00971524620600</p> </li>
								</ul>
							</div>
							<div class="share-icon">
								<ul>
									<li class="facebook"><a href="https://www.facebook.com/TTA.IRBED/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="https://twitter.com/tabasheeracad"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="box-information">
						<div class="module clearfix">
							<h3 class="modtitle">Information</h3>
							<div class="modcontent">
								<ul class="menu">
									<li><a href="/about">About Us</a></li>
									<li><a href="/about">Our Services</a></li>
									<li><a href="/achievements/page=1">Achievements</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class=" box-extras">
						<div class="module clearfix">
							<h3 class="modtitle">Pages</h3>
							<div class="modcontent">
								<ul class="menu">
									<li><a href="/home">Home</a></li>
									<li><a href="/courses/page=1">Courses</a></li>
									<li><a href="/products/page=1">products</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class=" box-extras">
								<img  style="max-width: 280px; max-height: 600px;"  src="../static/img/logo/logo3.png" alt="">
					</div>


			</div>
		</div>
	</section>
	<!-- /Footer Top Container -->

</footer>

</div>
<!-- Social widgets -->
<!-- End Social widgets -->
</div>

<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript"  src="../static/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript"  src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="../static/js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/libs.js"></script>
	<script type="text/javascript"  src="../static/js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript"  src="../static/js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript"  src="../static/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/moment.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"  src="../static/js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript"  src="../static/js/modernizr/modernizr-2.6.2.min.js"></script>


<!-- Theme files
	============================================ -->
	<script type="text/javascript"  src="../static/js/themejs/application.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/homepage.js"></script>
	<!-- <script type="text/javascript"  src="../static/js/themejs/toppanel.js"></script> -->
	<script type="text/javascript"  src="../static/js/themejs/so_megamenu.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/addtocart.js"></script>	
	<!-- <script type="text/javascript"  src="../static/js/themejs/pathLoader.js"></script>	 -->


	
	
</body>
</html>