<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>{{ data ['title'] }}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

	<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Favicon
	============================================ -->
	<link rel="shortcut icon"  href="../static/ico/favicon.png">
	
	<!-- Google web fonts
	============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet"  href="../static/css/bootstrap/css/bootstrap.min.css">
    <link  href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link  href="../static/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link  href="../static/js/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
    <link  href="../static/js/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link  href="../static/css/themecss/lib.css" rel="stylesheet">
    <link  href="../static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

	<!-- Theme CSS
	============================================ -->
	<link  href="../static/css/themecss/so_megamenu.css" rel="stylesheet">
	<link  href="../static/css/themecss/so-categories.css" rel="stylesheet">
	<link  href="../static/css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link  href="../static/css/footer2.css" rel="stylesheet">
	<link  href="../static/css/header2.css" rel="stylesheet">
	<link id="color_scheme"  href="../static/css/home2.css" rel="stylesheet">
	<!-- <link  href="../static/css/responsive.css" rel="stylesheet"> -->
</head>


<body class="common-home res layout-home2 banners-effect-7">
	<div id="wrapper" class="wrapper-full">
		<div  class="">

			<!-- Header Container  -->
			<header id="header" class=" variantleft type_2">
				<!-- Header Top -->
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="header-top-left form-inline col-sm-6 col-xs-6 compact-hidden">
								<!--
								<div class="form-group currencies-block">
									<form action="index.html" method="post" enctype="multipart/form-data" id="currency">
										 
										<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
											<span class="icon icon-credit "></span> USD <span class="fa fa-caret-down"></span>
										</a>
										<ul class="dropdown-menu btn-xs" >
											<li> <a href="#">(€)&nbsp;Euro</a></li>
											<li> <a href="#">(£)&nbsp;Pounds</a></li>
											<li> <a href="#">($)&nbsp;USD</a></li>
										</ul

									</form>
								</div>
								>-->

								<!--
								<div class="form-group languages-block ">
									<form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">
										<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
											<img  src="../static/img/demo/flags/gb.png" alt="English" title="English">
											<span class="hidden-xs">English</span>
											<span class="fa fa-caret-down"></span>
										</a>
										<ul class="dropdown-menu" >
											<li><a href="index.html"><img class="image_flag"  src="../static/img/demo/flags/gb.png" alt="English" title="English"> English </a></li>
											<li> <a href="html_width_RTL/home2.html"> <img class="image_flag"  src="../static/img/demo/flags/lb.png" alt="Arabic" title="Arabic"> Arabic </a> </li>
										</ul>
									</form>
								</div> -->
							</div>
							<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
								<div class="tabBlock" id="TabBlock-1">
									<ul class="top-link list-inline">
										<li class="wishlist hidden-xs"><a href="wishlist.html" id="wishlist-total" class="top-link-wishlist" title="Welcome Customer!"><span>Welcome Customer!</span></a></li>
										<li class="login"><a href="/login" class="top-link-checkout" title="Sign In"><span>Log In</span></a></li>
										<li class="register"><a href="/sinup" title="Register"><span>Register</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //Header Top -->

				<!-- Header center -->
				<div class="header-center left">
					<div class="container">
						<div class="row">
							<!-- Logo -->
							<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
								<a href="index.html"><img  src="../static/img/logo/logo.png" title="Your Store" alt="Your Store"></a>
							</div>
							<!-- //end Logo -->

							<!-- Search -->
							<div id="sosearchpro" class=" col-xs-12 col-sm-8 col-md-5 search-pro">
								<form method="GET" action="/search">
									<div id="search0" class="search input-group">

										<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Search product..." name="search">
										<span class="input-group-btn">
											<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
										</span>
									</div>
									<input type="hidden" name="route" value="product/search">
								</form>

							</div>
							<!-- //end Search -->

							<!-- Secondary menu -->
							<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
								<div class="header-text hidden-xs">
									<p><i class="fa fa-phone" aria-hidden="true"></i>	   Call Jordan : (+962) 791-749-367 </p>
								</div>
						
								<!--cart
								<div id="cart" class=" btn-group btn-shopping-cart">
									<a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
										<div class="shopcart">
											<span class="handle pull-left"></span>
											<span class="number-shopping-cart">2</span>
											<span class="title hidden-xs">My Cart</span>
											<p class="text-shopping-cart cart-total-full hidden-xs"> $0.00 </p>
										</div>
									</a>

									<ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">

										<li>
											<table class="table table-striped">
												<tbody>
													<tr>
														<td class="text-center" style="width:70px">
															<a href="product.html"> <img  src="../static/img/demo/shop/product/35.jpg" style="width:70px" alt="Filet Mign" title="Filet Mign" class="preview"> </a>
														</td>
														<td class="text-left"> <a class="cart_product_name" href="product.html">Filet Mign</a> </td>
														<td class="text-center"> x1 </td>
														<td class="text-center"> $1,202.00 </td>
														
														<td class="text-right">
															<a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
														</td>
													</tr>
													<tr>
														<td class="text-center" style="width:70px">
															<a href="product.html"> <img  src="../static/img/demo/shop/product/141.jpg" style="width:70px" alt="Canon EOS 5D" title="Canon EOS 5D" class="preview"> </a>
														</td>
														<td class="text-left"> <a class="cart_product_name" href="product.html">Canon EOS 5D</a> </td>
														<td class="text-center"> x1 </td>
														<td class="text-center"> $60.00 </td>
														
														<td class="text-right">
															<a onclick="cart.remove('1');" class="fa fa-times fa-delete"></a>
														</td>
													</tr>
												</tbody>
											</table>
										</li>
										<li>
											<div>
												<table class="table table-bordered">
													<tbody>
														<tr>
															<td class="text-left"><strong>Sub-Total</strong>
															</td>
															<td class="text-right">$1,060.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>Eco Tax (-2.00)</strong>
															</td>
															<td class="text-right">$2.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>VAT (20%)</strong>
															</td>
															<td class="text-right">$200.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>Total</strong>
															</td>
															<td class="text-right">$1,262.00</td>
														</tr>
													</tbody>
												</table>
												<p class="text-right"> <a class="btn view-cart" href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" href="checkout.html"><i class="fa fa-share"></i>Checkout</a> </p>
											</div>
										</li>
									</ul>
								</div>
								
							</div>
						</div> -->
						<!--//cart-->

					</div>
				</div>
				<!-- //Header center -->

				<!-- Header Bottom -->
				<div class="header-bottom">
					<div class="container">
						<div class="row">
							<div class="sidebar-menu col-md-3  col-xs-6 hidden-xs">
								<div class="responsive so-megamenu ">
									<div class="so-vertical-menu no-gutter compact-hidden">
										<nav class="navbar-default">
											<div class="container-megamenu vertical ">
												<div id="menuHeading">
													<div class="megamenuToogle-wrapper">
														<div class="megamenuToogle-pattern">
															<div class="container">
																<div>
																	<span></span>
																	<span></span>
																	<span></span>
																</div>
																products categories							
															</div>
														</div>
													</div>
												</div>
												<div class="navbar-header">
													<button   id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle fa fa-list-alt">
														
													</button>
												</div>
												<div class="vertical-wrapper" >
													<span id="remove-verticalmenu" class="fa fa-times"></span>
													<div class="megamenu-pattern">
														<div class="container">
															<ul class="megamenu">
																{% for category  in data ['products_categories'][0:9] : %}
																	<li class="item-vertical">
																		<p class="close-menu"></p>
																		<a href="#" class="clearfix">
																			
																			<span>{{ category ['Name'] }}</span>

																		</a>
																	</li>
																{% endfor %}
																
																{% for category  in data ['products_categories'][8:12] : %}
																<li class="item-vertical item-vertical-hide" style="display: none;">
																	<p class="close-menu"></p>
																	<a href="#" class="clearfix">
																		
																		<span>{{ category ['Name'] }}</span>
																	</a>
																</li>
																{% endfor %}

																<li class="item-vertical item-vertical-hide" style="display: none;">
																	<p class="close-menu"></p>

																	<a href="#" class="clearfix">

																		<span>Show All Categories </span>
																	</a>
																</li>
																<li class="loadmore">
																	<i class="fa fa-plus-square-o"></i>
																	<span class="more-view">More Categories</span>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</nav>
									</div>
								</div>
							</div>


							<!-- Main menu -->
							<div class="megamenu-hori header-bottom-right  col-md-9 col-sm-6 col-xs-6 ">
								<div class="responsive so-megamenu ">
									<nav class="navbar-default">
										<div class=" container-megamenu  horizontal">

											<div class="navbar-header">
												<button   id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>

											<div class="megamenu-wrapper">
												<span id="remove-megamenu" class="fa fa-times"></span>
												<div class="megamenu-pattern">
													<div class="container">
														<ul class="megamenu " data-transition="slide" data-animationtime="250">
															<li class="home hover">
																<p class="close-menu"></p>
																<a href="/home" class="menu1">Home</a>
															</li>
															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix menu1">
																	<strong>products</strong>
																	
																</a>																
															</li>
															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix menu1">
																	<strong>Courses</strong>
																	<span class="label"></span>
																</a>

																<div class="sub-menu" style="width: 100%; right: 0px; display: none;">
																	<div class="content" style="height: 398px; display: none;">
																		<div class="row">
																			<div class="col-sm-12">
																				<div class="row">
																					<div class="col-md-3 img img1">
																						<a href="#"><img  src="../static/img/demo/cms/img1.jpg" alt="banner1"></a>
																					</div>
																					<div class="col-md-3 img img2">
																						<a href="#"><img  src="../static/img/demo/cms/img2.jpg" alt="banner2"></a>
																					</div>
																					<div class="col-md-3 img img3">
																						<a href="#"><img  src="../static/img/demo/cms/img3.jpg" alt="banner3"></a>
																					</div>
																					<div class="col-md-3 img img4">
																						<a href="#"><img  src="../static/img/demo/cms/img4.jpg" alt="banner4"></a>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-3">
																				<a href="#" class="title-submenu">Automotive</a>
																				<div class="row">
																					<div class="col-md-12 hover-menu">
																						<div class="menu">
																							<ul>
																								<li><a href="#" class="main-menu">Car Alarms and Security</a></li>
																								<li><a href="#" class="main-menu">Car Audio &amp; Speakers</a></li>
																								<li><a href="#" class="main-menu">Gadgets &amp; Auto Parts</a></li>
																								<li><a href="#" class="main-menu">More Car Accessories</a></li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<a href="#" class="title-submenu">Electronics</a>
																				<div class="row">
																					<div class="col-md-12 hover-menu">
																						<div class="menu">
																							<ul>
																								<li><a href="#" class="main-menu">Battereries &amp; Chargers</a></li>
																								<li><a href="#" class="main-menu">Headphones, Headsets</a></li>
																								<li><a href="#" class="main-menu">Home Audio</a></li>
																								<li><a href="#" class="main-menu">Mp3 Players &amp; Accessories</a></li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<a href="#" class="title-submenu">Jewelry &amp; Watches</a>
																				<div class="row">
																					<div class="col-md-12 hover-menu">
																						<div class="menu">
																							<ul>
																								<li><a href="#" class="main-menu">Earings</a></li>
																								<li><a href="#" class="main-menu">Wedding Rings</a></li>
																								<li><a href="#" class="main-menu">Men Watches</a></li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<a href="#" class="title-submenu">Bags, Holiday Supplies</a>
																				<div class="row">
																					<div class="col-md-12 hover-menu">
																						<div class="menu">
																							<ul>
																								<li><a href="#" class="main-menu">Gift &amp; Lifestyle Gadgets</a></li>
																								<li><a href="#" class="main-menu">Gift for Man</a></li>
																								<li><a href="#" class="main-menu">Gift for Woman</a></li>
																								<li><a href="#" class="main-menu">Lighter &amp; Cigar Supplies</a></li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</li>

															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix menu1">
																	<strong>Accessories</strong>

																	
																</a>
																<div class="sub-menu" style="width: 100%; display: none; right: 0px;">
																	<div class="content" style="display: none; height: 333px;">
																		<div class="row">
																			<div class="col-md-8">
																				<div class="row">
																					<div class="col-md-6 static-menu">
																						<div class="menu">
																							<ul>
																								<li>
																									<a href="#" class="main-menu">Automotive</a>
																									<ul>
																										<li><a href="#">Car Alarms and Security</a></li>
																										<li><a href="#">Car Audio &amp; Speakers</a></li>
																										<li><a href="3#">Gadgets &amp; Auto Parts</a></li>
																									</ul>
																								</li>
																								<li>
																									<a href="#" class="main-menu">Smartphone &amp; Tablets</a>
																									<ul>
																										<li><a href="#">Accessories for i Pad</a></li>
																										<li><a href="#">Apparel</a></li>
																										<li><a href="#">Accessories for iPhone</a></li>
																									</ul>
																								</li>
																							</ul>
																						</div>
																					</div>
																					<div class="col-md-6 static-menu">
																						<div class="menu">
																							<ul>
																								<li>
																									<a href="#" class="main-menu">Sports &amp; Outdoors</a>
																									<ul>
																										<li><a href="#">Camping &amp; Hiking</a></li>
																										<li><a href="#">Cameras &amp; Photo</a></li>
																										<li><a href="#">Cables &amp; Connectors</a></li>
																									</ul>
																								</li>
																								<li>
																									<a href="#" class="main-menu">Electronics</a>
																									<ul>
																										<li><a href="#">Battereries &amp; Chargers</a></li>
																										<li><a href="#">Bath &amp; Body</a></li>
																										<li><a href="#">Outdoor &amp; Traveling</a></li>
																									</ul>
																								</li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-4">
																				<span class="title-submenu">Bestseller</span>
																				<div class="row">
																					<div class="col-sm-12 list-product">
																						<div class="product-thumb">
																							<div class="image pull-left">
																								<a href="#"><img  src="../static/img/demo/shop/product/35.jpg" width="80" alt="Filet Mign" title="Filet Mign" class="img-responsive"></a>
																							</div>
																							<div class="caption">
																								<h4><a href="#">Filet Mign</a></h4>
																								<div class="rating-box">
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																								</div>
																								<p class="price">$1,202.00</p>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-12 list-product">
																						<div class="product-thumb">
																							<div class="image pull-left">
																								<a href="#"><img  src="../static/img/demo/shop/product/W1.jpg" width="80" alt="Dail Lulpa" title="Dail Lulpa" class="img-responsive"></a>
																							</div>
																							<div class="caption">
																								<h4><a href="#">Dail Lulpa</a></h4>
																								<div class="rating-box">
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class=""><i class="fa fa-star "></i></span>
																									<span class="gray"><i class="fa fa-star "></i></span>
																								</div>
																								<p class="price">$78.00</p>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-12 list-product">
																						<div class="product-thumb">
																							<div class="image pull-left">
																								<a href="#"><img  src="../static/img/demo/shop/product/141.jpg" width="80" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive"></a>
																							</div>
																							<div class="caption">
																								<h4><a href="#">Canon EOS 5D</a></h4>

																								<div class="rating-box">
																									<span class="gray"><i class="fa fa-star "></i></span>
																									<span class="gray"><i class="fa fa-star "></i></span>
																									<span class="gray"><i class="fa fa-star "></i></span>
																									<span class="gray"><i class="fa fa-star "></i></span>
																									<span class="gray"><i class="fa fa-star "></i></span>
																								</div>
																								<p class="price">
																									<span class="price-new">$60.00</span>
																									<span class="price-old">$145.00</span>

																								</p>
																							</div>
																						</div>
																					</div>
																				</div>
																				

																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="">
																<p class="close-menu"></p>
																<a href="/about" class="clearfix menu1">
																	<strong>About Us</strong>
																	<span class="label"></span>
																</a>
															</li>
														</ul>

													</div>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</div>
							<!-- //end Main menu -->

						</div>
					</div>

				</div>
			</header>


