<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>{{ data ['title'] }}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

	<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Favicon
	============================================ -->
	<link rel="shortcut icon"  href="../static/ico/favicon.png">
	
	<!-- Google web fonts
	============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet"  href="../static/css/bootstrap/css/bootstrap.min.css">
    <link  href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link  href="../static/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link  href="../static/js/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
    <link  href="../static/js/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link  href="../static/css/themecss/lib.css" rel="stylesheet">
    <link  href="../static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

	<!-- Theme CSS
	============================================ -->
	<link  href="../static/css/themecss/so_megamenu.css" rel="stylesheet">
	<link  href="../static/css/themecss/so-categories.css" rel="stylesheet">
	<link  href="../static/css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link  href="../static/css/footer2.css" rel="stylesheet">
	<link  href="../static/css/header2.css" rel="stylesheet">

	<link id="color_scheme"  href="../static/css/home2.css" rel="stylesheet">
	<!-- <link  href="../static/css/responsive.css" rel="stylesheet"> -->


	<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript"  src="../static/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript"  src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="../static/js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/libs.js"></script>
	<script type="text/javascript"  src="../static/js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript"  src="../static/js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript"  src="../static/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/moment.js"></script>
	<script type="text/javascript"  src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"  src="../static/js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript"  src="../static/js/modernizr/modernizr-2.6.2.min.js"></script>


<!-- Theme files
	============================================ -->
	<script type="text/javascript"  src="../static/js/themejs/application.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/homepage.js"></script>
	<!-- <script type="text/javascript"  src="../static/js/themejs/toppanel.js"></script> -->
	<script type="text/javascript"  src="../static/js/themejs/so_megamenu.js"></script>
	<script type="text/javascript"  src="../static/js/themejs/addtocart.js"></script>	
	<!-- <script type="text/javascript"  src="../static/js/themejs/pathLoader.js"></script>	 -->

	
</head>


<body class="common-home res layout-home2 banners-effect-7">
	<div id="wrapper" class="wrapper-full">
		<div  class="">

			<!-- Header Container  -->
			<header id="header" class=" variantleft type_2">
				<!-- Header Top -->
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="header-top-left form-inline col-sm-6 col-xs-6 compact-hidden">
								<!--
								<div class="form-group currencies-block">
									<form action="index.html" method="post" enctype="multipart/form-data" id="currency">
										 
										<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
											<span class="icon icon-credit "></span> USD <span class="fa fa-caret-down"></span>
										</a>
										<ul class="dropdown-menu btn-xs" >
											<li> <a href="#">(€)&nbsp;Euro</a></li>
											<li> <a href="#">(£)&nbsp;Pounds</a></li>
											<li> <a href="#">($)&nbsp;USD</a></li>
										</ul

									</form>
								</div>
								>-->

								<!--
								<div class="form-group languages-block ">
									<form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">
										<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
											<img  src="../static/img/demo/flags/gb.png" alt="English" title="English">
											<span class="hidden-xs">English</span>
											<span class="fa fa-caret-down"></span>
										</a>
										<ul class="dropdown-menu" >
											<li><a href="index.html"><img class="image_flag"  src="../static/img/demo/flags/gb.png" alt="English" title="English"> English </a></li>
											<li> <a href="html_width_RTL/home2.html"> <img class="image_flag"  src="../static/img/demo/flags/lb.png" alt="Arabic" title="Arabic"> Arabic </a> </li>
										</ul>
									</form>
								</div> -->
							</div>

							<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
								<div class="tabBlock" id="TabBlock-1">
									<ul class="top-link list-inline">
										<li class="login"><a href="/login" class="top-link-checkout" title="Sign In"><span>Log In</span></a></li>
										<li class="register"><a href="/sinup" title="Register"><span>Register</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //Header Top -->

				<!-- Header center -->
				<div class="header-center left">
					<div class="container">
						<div class="row">
							<!-- Logo -->
							<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
								<a href="/home"><img  src="../static/img/logo/logo.png" title="Your Store" alt="Your Store"></a>
							</div>
							<!-- //end Logo -->

							<!-- Search -->
							<div id="sosearchpro" class=" col-xs-12 col-sm-8 col-md-5 search-pro">
								<form method="POST" action="/search">
									<div id="search0" class="search input-group">
										<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Search..." name="search">
										<span class="input-group-btn">
											<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
										</span>
									</div>
									<input type="hidden" name="route" value="product/search">
								</form>

							</div>
							<!-- //end Search -->

							<!-- Phone Numbers and cart -->
							<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
								<div class="header-text hidden-xs">
									<p><i class="fa fa-phone" aria-hidden="true"></i>	   Call Jordan : (+962) 780-140-282 </p>

								</div>
						
								<!--cart-->
								<!--
								<div id="cart" class=" btn-group btn-shopping-cart">
									<a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
										<div class="shopcart">
											<span class="handle pull-left"></span>
											<span class="number-shopping-cart">2</span>
											<span class="title hidden-xs">My Cart</span>
											<p class="text-shopping-cart cart-total-full hidden-xs"> $0.00 </p>
										</div>
									</a>

									<ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">

										<li>
											<table class="table table-striped">
												<tbody>
													<tr>
														<td class="text-center" style="width:70px">
															<a href="product.html"> <img  src="../static/img/demo/shop/product/35.jpg" style="width:70px" alt="Filet Mign" title="Filet Mign" class="preview"> </a>
														</td>
														<td class="text-left"> <a class="cart_product_name" href="product.html">Filet Mign</a> </td>
														<td class="text-center"> x1 </td>
														<td class="text-center"> $1,202.00 </td>

														<td class="text-right">
															<a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
														</td>
													</tr>
													<tr>
														<td class="text-center" style="width:70px">
															<a href="product.html"> <img  src="../static/img/demo/shop/product/141.jpg" style="width:70px" alt="Canon EOS 5D" title="Canon EOS 5D" class="preview"> </a>
														</td>
														<td class="text-left"> <a class="cart_product_name" href="product.html">Canon EOS 5D</a> </td>
														<td class="text-center"> x1 </td>
														<td class="text-center"> $60.00 </td>

														<td class="text-right">
															<a onclick="cart.remove('1');" class="fa fa-times fa-delete"></a>
														</td>
													</tr>
												</tbody>
											</table>
										</li>
										<li>
											<div>
												<table class="table table-bordered">
													<tbody>
														<tr>
															<td class="text-left"><strong>Sub-Total</strong>
															</td>
															<td class="text-right">$1,060.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>Eco Tax (-2.00)</strong>
															</td>
															<td class="text-right">$2.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>VAT (20%)</strong>
															</td>
															<td class="text-right">$200.00</td>
														</tr>
														<tr>
															<td class="text-left"><strong>Total</strong>
															</td>
															<td class="text-right">$1,262.00</td>
														</tr>
													</tbody>
												</table>
												<p class="text-right"> <a class="btn view-cart" href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" href="checkout.html"><i class="fa fa-share"></i>Checkout</a> </p>
											</div>
										</li>
									</ul>
								</div>-->
								
							</div>
						</div>
						<!--//cart-->

					</div>
				</div>
				<!-- //Header center -->

				<!-- Header Bottom -->
				<div class="header-bottom">
					<div class="container">
						<!--contain all categories-->
						<div class="row">
							<!--products categories first item -->
							<div class="sidebar-menu col-md-3  col-xs-6 hidden-xs">
								<div class="responsive so-megamenu ">
									<div class="so-vertical-menu no-gutter compact-hidden">
										<nav class="navbar-default">
											<!--products categories-->
											<div class="container-megamenu vertical ">
												<!--products categories menu-->
												<div id="menuHeading">
													<div class="megamenuToogle-wrapper">
														<div class="megamenuToogle-pattern">
															<!--products categories-->
															<div class="container">
																<div>
																	<span></span>
																	<span></span>
																	<span></span>
																</div>
																products categories							
															</div>
														</div>
													</div>
												</div>
												<div class="navbar-header">
													<button   id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle fa fa-list-alt">
														
													</button>
												</div>
												<!--products categories drop down list -->
												<div class="vertical-wrapper" >
													<span id="remove-verticalmenu" class="fa fa-times"></span>
													<div class="megamenu-pattern">
														<div class="container">
															<ul class="megamenu">
																{% for category  in data ['products_categories'][0:9] : %}
																	<li class="item-vertical">
																		<p class="close-menu"></p>
																		<a href="/category_products={{category ['Id']}}/page=1" class="clearfix">

																			<span>{{ category ['Name'] }}</span>

																		</a>
																	</li>
																{% endfor %}
																
																{% for category  in data ['products_categories'][8:12] : %}
																<li class="item-vertical item-vertical-hide" style="display: none;">
																	<p class="close-menu"></p>
																	<a href="/category_products={{category ['Id']}}/page=1" class="clearfix">
																		
																		<span>{{ category ['Name'] }}</span>
																	</a>
																</li>
																{% endfor %}

																<li class="item-vertical item-vertical-hide" style="display: none;">
																	<p class="close-menu"></p>

																	<a href="/products/page=1" class="clearfix">

																		<span>Show All Products </span>
																	</a>
																</li>
																<li class="loadmore">
																	<i class="fa fa-plus-square-o"></i>
																	<span class="more-view">More Categories</span>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</nav>
									</div>
								</div>
							</div>


							<!-- Main menu -->
							<div class="megamenu-hori header-bottom-right  col-md-9 col-sm-6 col-xs-6 ">
								<div class="responsive so-megamenu ">
									<nav class="navbar-default">
										<div class=" container-megamenu  horizontal">

											<div class="navbar-header">
												<button   id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>

											<div class="megamenu-wrapper">
												<span id="remove-megamenu" class="fa fa-times"></span>
												<div class="megamenu-pattern">
													<div class="container">
														<ul class="megamenu " data-transition="slide" data-animationtime="250">

															<li class="home hover">
																<p class="close-menu"></p>
																<a href="/home" class="menu1">Home</a>
															</li>

															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="/products/page=1" class="clearfix menu1">
																	<strong>products</strong>
																	<span class="label"></span>
																</a>

															</li>

															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="/courses/page=1" class="clearfix menu1">
																	<strong>Courses</strong>
																	<span class="label"></span>
																</a>


															</li>

															<li class="with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="/achievements/page=1" class="clearfix menu1">
																	<strong>Achievements</strong>
																</a>
                                                            </li>

															<li class="">
																<p class="close-menu"></p>
																<a href="/about" class="clearfix menu1">
																	<strong>About Us</strong>
																	<span class="label"></span>
																</a>
															</li>


														</ul>

													</div>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</div>
							<!-- //end Main menu -->

						</div>
					</div>

				</div>
			</header>


