
{% include  "header.html" %}

			<!-- //Header Container  -->
			<!-- Block Spotlight1  -->
			<section class="so-spotlight1">
				<div id="so-slideshow" >
					<div class="owl-carousel" data-loop="yes" data-margin="0" data-nav="yes" data-dots="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
						<div><a href="#"><img  src="../static/img/slider/slider-1.jpg" alt=""></a></div>
						<div><a href="#"><img  src="../static/img/slider/slider-2.jpg" alt=""></a></div>
						<div><a href="#"><img  src="../static/img/slider/slider-3.jpg" alt=""></a></div>
					</div>
					
				</div>  
			</section>
			<!-- //Block Spotlight1  -->


			<!-- Block Spotlight2  -->
			<section class="so-spotlight2">
				<div class="modcontent clearfix">
					<div class="policy-detail">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="banner-policy">
										<div class="policy policy1">
											<a href="#"> 
												<span class="ico-policy"></span> 
												<div class="service-info">
													<span class="title">Free Shipping & Return</span> <br> <span>Free shipping on orders over $49</span> 
												</div>
											</a>
										</div>
										<div class="policy policy2">
											<a href="#">
												<span class="ico-policy"></span>
												<div class="service-info">
													<span class="title">Money Guarantee</span> <br><span>30 days money back guarantee</span>
												</div>
											</a>
										</div>
										<div class="policy policy3">
											<a href="#"> 
												<span class="ico-policy"></span> 
												<div class="service-info">
													<span class="title">Online Support</span> <br><span>We support online 24/24 on day</span> 
												</div>
											</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</section>
				<!-- //Block Spotlight2  -->



				<!-- Main Container  -->
				<div class="main-container container">

					<div class="row">
						<aside class="col-md-3 col-sm-4 col-xs-12  content-aside left_column">
							<div class="special">
								<h3 class="modtitle">Offers Of Courses</h3>
								<hr><hr><hr>
								<div class="owl-carousel owl-special" data-margin="0" data-loop="yes" data-nav="yes" data-dots="no" data-items_xs="1" data-items_sm="1" data-items_md="1">
									{% for product in  data ['offers_Of_courses'] : %}
										<div class="product-layout">
											<div class="product-item-container">
												<div class="left-block">
													<div class="product-image-container  second_img ">
														<a href="product.html" class="product-img"><img  src="{{ product['Image'] }}" alt=""></a>

														<!--Sale Label-->
														<span class="sale">{{product ['Sale'] }}%</span>
													</div>
												</div>
												<div class="right-block">
													<div class="time-sale">
														<p class="time-day">30 days</p>
														<p class="time-hour">11  :  25  :  53</p>
													</div>
													<div class="caption">
														<h4><a href="product.html"> {{product ['Name']}} </a></h4>		
														<div class="price">
															<span class="price-new">JD  {{product ['Old_Price']}} </span>
															<span class="price-old">JD  {{product ['New_Price']}} </span>		   
														</div>
													</div>
												</div><!-- right block -->
												
												
											</div>
										</div>
										{% endfor %}
								</div>


							</div>

							<div class="testimonials">
								<h3 class="modtitle">Trainer</h3>
								<hr><hr><hr>
								<div class="owl-carousel" data-margin="0" data-nav="no" data-loop="yes" data-dots="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
									<div class="owl-testimonials">
										<div class="content">
											<p>Lorem ipsum dolor sit amet, conmetur asdipiscing elit,sed doeius tempo lorem ipsum raLorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.</p>
										</div>
										<div class="avata"><img  src="../static/img/theme/home-2/avata.jpg" alt=""></div>
										<div class="name"><p>Johny Walker</p></div>
							   			<div class="job"><p>CEO Envato - Themeforest</p></div>
									</div>

									<div class="owl-testimonials">
										<div class="content">
											<p>Lorem ipsum dolor sit amet, conmetur asdipiscing elit,sed doeius tempo lorem ipsum raLorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.</p>
										</div>
										<div class="avata"><img  src="../static/img/theme/home-2/avata.jpg" alt=""></div>
										<div class="name"><p>Johny Walker</p></div>
										<div class="job"><p>CEO Envato - Themeforest</p></div>
									</div>
									<div class="owl-testimonials">
										<div class="content">
											<p>Lorem ipsum dolor sit amet, conmetur asdipiscing elit,sed doeius tempo lorem ipsum raLorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.</p>
										</div>
										<div class="avata"><img  src="../static/img/theme/home-2/avata.jpg" alt=""></div>
										<div class="name"><p>Johny Walker</p></div>
										<div class="job"><p>CEO Envato - Themeforest</p></div>
									</div>
								</div>
							</div>

							<div class="latest-blog">
								<h3 class="modtitle">Achievements</h3>
								<hr><hr><hr>
								<div class="owl-carousel owl-blog" data-margin="0" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
									{% for post in data ['last_five_posts'] : %}
									<div class="owl-latest-blog">
										<div class="blog-item item">

											<div class="itemBlogImg">
												<div class="article-image ">
													<div>
														<a class="popup-gallery" href="/post/{{post ['Id']}}"><img  src="{{post ['Media']}}" alt="Kire tuma demonstraverunt lector"></a>
													</div>
												</div>
											</div>
											<div class="itemBlogContent1">
												<div class="article-title1">
													<h4>
														<a href="/post/{{post ['Id']}}"}>{{post ['Title']}} </a>
													</h4>
												</div>
												<div class="article-description1">
													{{post ['brief']}}... </div>
													<div class="blog-meta1">
														<span class="author">
															<a href="blog-detail.html">View more
																<i class="fa fa-angle-double-right" aria-hidden="true"></i>
															</a>
														</span>
													</div>
												</div>
											</div>
										</div>
										{%endfor%}

									</div>
								</div>

								<!-- 
								<div class="module banner-left hidden-xs">
									<div class="modcontent clearfix">
										<div class="banners">
											<div>
												<a href="#"><img  src="../static/img/demo/banner/home-2/banner-3.jpg" alt="left-image"></a>
											</div>
										</div>

									</div>
								</div> -->


						</aside>



									<div id="content" class="col-md-9 col-sm-8  col-xs-12">
										<div class="digital">
											<div class="row">
												<div class=" col-sm-12">
													<h3 class="modtitle">Offers Of Produts</h3>
													<hr>
													<hr>
													<hr>
													<div class="digital-owl">
														<div class=" owl-carousel digital-owl " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="2" data-items_md="4" data-margin="20">


															{% for  product in data ['offers_Of_produts'] : %}
															<div class="product-layout">
																<div class="product-item-container">
																	<div class="left-block">
																		<div class="product-image-container  second_img ">
																			<a href="product.html" class="product-img"><img  src="{{product ['Image'] }}" alt=""></a>
																			<!--Sale Label-->
																			<span class="sale">{{ product ['Sale'] }}%</span>
																		</div>
																	</div>
																	<div class="right-block">
																		<div class="caption">
																			<h4><a href="product.html">{{product ['Name'] }}</a></h4>		


																			<div class="caption">
																				<div class="price">
																					<span class="price-new">JD  {{product ['Old_Price']}} </span>
																					<span class="price-old">JD  {{product ['New_Price']}} </span>		   
																				</div>
																			</div>
																		</div>
																	</div><!-- right block -->
																</div>
															</div>
															{% endfor %}
														

														</div>
													</div>
												</div>
											</div>
										</div>

										<div class=" fashion-jewerly">
											<div class="row">
												<div class=" col-sm-12">
													<h3 class="modtitle">New product</h3>
													<hr>
													<hr>
													<hr>
													<div class="fashion-jewerly-owl">
														<div class=" owl-carousel fashion-jewerly-owl " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="2" data-items_md="4" data-margin="10">

															{% for product in  data ['last_ten_Products'] : %}
															<div class="product-layout">
																<div class="product-item-container">
																	<div class="left-block">
																		<div class="product-image-container  second_img ">
																			<a href="product.html" class="product-img"><img  src="{{product ['Image']}}" alt=""></a>
																			<!--Sale Label-->
																			<span class="new">New</span>
																		</div>
																	</div>
																	<div class="right-block">
																		<div class="caption">
																			<h4><a href="product.html">{{product ['Name']}}</a></h4>		

																			<div class="price">
																				<span class="price-new">JD {{product ['Price']}}</span> 	

																			</div>
																		</div>
																	</div><!-- right block -->
																</div>
															</div>
															{% endfor %}

														</div>
													</div>
												</div>
											</div>
										</div>

										<div class=" fashion-jewerly">
											<div class="row">
												<div class=" col-sm-12">
													<h3 class="modtitle"> Courses </h3>
													<hr>
													<hr>
													<hr>
													<div class="fashion-jewerly-owl">
														<div class=" owl-carousel fashion-jewerly-owl " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="2" data-items_md="4" data-margin="10">

															{% for product in  data ['all_courses'] : %}
															<div class="product-layout">
																<div class="product-item-container">
																	<div class="left-block">
																		<div class="product-image-container  second_img ">
																			<a href="product.html" class="product-img"><img  src="{{product ['Image']}}" alt=""></a>
																			<!--Sale Label-->
																			<span class="new">New</span>
																		</div>
																	</div>
																	<div class="right-block">
																		<div class="caption">
																			<h4><a href="product.html">{{product ['Name']}}</a></h4>		

																			<div class="price">
																				<span class="price-new">JD {{product ['Price']}}</span> 	

																			</div>
																		</div>
																	</div><!-- right block -->
																</div>
															</div>
															{% endfor %}

														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- 
										<div class="banner hidden-xs">
											<div class="row">
												<div class="banners">
													<div class="banner-1 col-sm-6 col-xs-12">
														<a href="#"><img  src="../static/img/demo/banner/home-2/banner-1.jpg" alt=""></a>
													</div>
													<div class="banner-2 col-sm-6 col-xs-12">
														<a href="#"><img  src="../static/img/demo/banner/home-2/banner-2.jpg" alt=""></a>
													</div>
												</div>
											</div>
										</div> 
										-->
										<div class="wrap-categories">
											<div class="row">
												<div class="col-sm-4 col-xs-12">
													<div class=" new-arrivals">
														<div class="module latest-product titleLine">
															<h3 class="modtitle">Most Watched</h3>
															<hr>
															<hr>
															<hr>
															<div class="modcontent owl-carousel owl-new-arrivals " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="1" data-items_md="1" data-margin="10">

																{% for page in  range ( data ['Most_Watched'] |length //3 ) : %}
																<div class="product-latest-item">
																	{% for product in  data ['Most_Watched'][ page * 3 : (page + 1) * 3  ] : %}
																	<div class="media">
																		<div class="media-left">
																			<a href="product.html"><img  src="{{product ['Image']}}" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
																		</div>
																		
																		<div class="media-body">
																			<div class="caption">
																				<h4><a href="product.html">{{product ['Name'] }}</a></h4>
																				<div class="price">
																					<span class="price-new">JD {{ product ['Price'] }} </span>
																				</div>
																			</div>
																		</div>
																	</div>
																	{% endfor %}
																</div>
																{% endfor %}

															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-4 col-xs-12">
													<div class=" featured">
														<div class="module latest-product titleLine">
															<h3 class="modtitle">Kits</h3>
															<hr>
															<hr>
															<hr>
															<div class="modcontent">
																<div class="owl-carousel owl-featured" data-nav="yes" data-loop='yes' data-margin="0" data-items_xs="1" data-items_sm="1" data-items_md="1">

																	{% for page in  range ( data ['products_by_Robotics_Kits'] |length //3 ) : %}
																	<div class="product-latest-item">
																		{% for product in  data ['products_by_Robotics_Kits'][ page * 3 : (page + 1) * 3  ] : %}
																		<div class="media">
																			<div class="media-left">
																				<a href="product.html"><img  src="{{product ['Image']}}" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
																			</div>
																			
																			<div class="media-body">
																				<div class="caption">
																					<h4><a href="product.html">{{product ['Name'] }}</a></h4>
																					<div class="price">
																						<span class="price-new">JD {{ product ['Price'] }} </span>
																					</div>
																				</div>
																			</div>
																		</div>
																		{% endfor %}
																	</div>
																	{% endfor %}
																</div>

															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-4 col-xs-12">
													<div class=" bestsellers">
														<div class="module latest-product titleLine">
															<h3 class="modtitle">Arduino</h3>
															<hr>
															<hr>
															<hr>
															<div class="modcontent">
																<div class="owl-carousel owl-bestsellers" data-nav="yes" data-loop='yes' data-margin="0" data-items_xs="1" data-items_sm="1" data-items_md="1">

																	{% for page in  range ( data ['products_by_Arduino'] |length //3 ) : %}
																	<div class="product-latest-item">
																		{% for product in  data ['products_by_Arduino'][ page * 3 : (page + 1) * 3  ] : %}
																		<div class="media">
																			<div class="media-left">
																				<a href="product.html"><img  src="{{product ['Image']}}" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
																			</div>
																			
																			<div class="media-body">
																				<div class="caption">
																					<h4><a href="product.html">{{product ['Name'] }}</a></h4>
																					<div class="price">
																						<span class="price-new">JD {{ product ['Price'] }} </span>
																					</div>
																				</div>
																			</div>
																		</div>
																		{% endfor %}
																	</div>
																	{% endfor %}

																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Main Container -->

							<script type="text/javascript">
								var $typeheader = 'header-home2';
							</script>
							<!--Footer-->
							{% include  "footer.html" %}
