{% include  "header2.html" %}

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main">
				<li class="home"><a href="#">Home&#32;&#32;&#32;</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>

				<li><a href="#">&#32;&#32;Post</a></li>

			</ul>

			<div class="row">
				
				<!--Left Part End -->
				{% set post = data ['post'] %}
				<!--Middle Part Start-->
				<div id="content-detail" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="article-info">
						<div class="blog-header">
							<h2>{{post ['Title']}}</h2>
						</div>
						<div class="article-image">
							<img src="{{post ['Media']}}" alt="">
						</div>
						<div class="article-description">
							<p> {{post ['Content']}} </p>
						</div>
						<div class="share">
							<p>Share This:</p>
							<div class="share-icon">
								<ul>
									<li class="facebook"><a href="https://web.facebook.com/TTA.IRBED/?tn-str=k*F"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

								</ul>
							</div>
						</div>


					</div>
				</div>



					<!--Left Part Start -->
					<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3" id="column-left">

						<div class="module blog-category titleLine">


							<h3 class="modtitle"> Courses Categories</h3> 
							<div class="modcontent">
								<ul class="list-group ">
									{% for category in data['Courses_Categories'] :  %}
									<li class="list-group-item"  > <a href="/category_courses={{category['Id']}}/page=1"class="group-item active">{{category['Name']}}</a></li>
									{%endfor%}
								</ul>

							</div>

							
						<div class="module latest-product titleLine">
							<h3 class="modtitle">Most Watched</h3>
							<div class="modcontent ">
								{% for course in data ['Most_Watched'][0:4] %}
								<div class="product-latest-item transition">
									<div class="media">
										<div class="media-left">
											<a href="/course/{{course['Id']}}" class="product-img"><img src="{{course['Image']}}" alt="{{course['Image']}}" title="{{course['Image']}}" class="img-responsive" style="width: 100px; height:82px;"></a>
										</div>
										<div class="media-body">
											<div class="caption">
												<h4><a href="/course/{{course['Id']}}" class="course-img">{{course['Name']}}</a></h4>
												<div class="price">
													<span class="price-new">JD {{course['Price']}}</span>
												</div>
											</div>
	
										</div>
									</div>
								</div>
								{%endfor%}
							</div>
						</div>

						
							
						</div>
						<div class="banners">
							<div>
								<a href="#"><img src="../static/img/demo/cms/left-image-static.png" alt="Latest Product"></a>
							</div>
						</div>
					</aside>



			</div>
			<!--Middle Part End-->
		</div>
		<!-- //Main Container -->
		<!--Footer-->
		{% include  "footer.html" %}