{% include  "header2.html" %}
		{% set page  =  data ['page'] %}
		{% set max  =  data ['Number_Products_In_Page'] %} 
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main">
				<li class="home"><a href="/home" >Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li> {{data ['Category_path']}}</li>
			</ul>

			<div class="row">
				<!--Left Part Start -->
				<aside class="col-sm-4 col-md-3 type-1" id="column-left">
					<div class="module menu-category titleLine">
						<h3 class="modtitle">Categories</h3>
						<div class="modcontent">
							<div class="box-category">

								<ul id="cat_accordion" class="list-group">
									{% for category  in data ['Products_Categories'] : %}
									<li class=""><a href="/category_products={{category ['Id'] }}/page=1" class="cutom-parent">{{category ['Name'] }}</a>  <span class="dcjq-icon"></span></li>
									{%endfor%}
								</ul>
							</div>
						</div>
					</div>
					<div class="module latest-product titleLine">


						<h3 class="modtitle">Most Watched</h3>
						<div class="modcontent ">
							{% for product in data ['Most_Watched'][0:5] %}
							<div class="product-latest-item transition">
								<div class="media">
									<div class="media-left">
										<a href="/product/{{product['Id']}}" class="product-img"><img src="{{product['Image']}}" alt="{{product['Image']}}" title="{{product['Image']}}" class="img-responsive" style="width: 100px; height:82px;"></a>
									</div>
									<div class="media-body">
										<div class="caption">
											<h4><a href="/product/{{product['Id']}}" class="product-img">{{product['Name']}}</a></h4>
											<div class="price">
												<span class="price-new">$ {{product['Price']}}</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							{%endfor%}
						</div>


					</div>

				</aside>
				<!--Left Part End -->

				<!--Middle Part Start-->
				<div id="content" class="col-md-9 col-sm-8 type-1">
					<div class="products-category">
						<!-- Filters -->
						<div>
							<h3>{{data ['Category_Name']}}</h3>
						</div>
						<div class="product-filter filters-panel">
							<div class="row">
								<div class="col-md-5 visible-lg">
									<div class="view-mode">
										<div class="list-view">
											<button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip" data-original-title="Grid"><i class="fa fa-th-large" aria-hidden="true"></i></button>
											<button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
										</div>
									</div>
								</div>

								<div class="short-by-show form-inline text-right col-lg-7 col-md-12 col-sm-12 col-xs-12">
									<div class="text">
										{% if max*page > data ['all_products'] |length : %}
										<p>item {{max*page - max }} - {{data ['all_products'] |length}} of {{data ['all_products'] |length}} total  </p>
										{%else%}
										<p>item {{max*page - max }} - {{max*page}} of {{data ['all_products'] |length}} total </p>
										{%endif%}	
									</div>


									<div class="form-group short-by">
										<label class="control-label" for="input-sort">Sort By:</label>
										<select id="input-sort" class="form-control" onchange="location = this.value;">
											{% for key , value in data ['Sort_List'].items() : %}
											{% if data ['Selected_Sort'] == value %}
											<option value="/products/sort={{key}}_maxnumber={{max}}_page={{1}}" selected >{{value}} </option>
											{% else : %}
											<option value="/products/sort={{key}}_maxnumber={{max}}_page={{1}}"  >{{value}} </option>
											{%endif%}
											{%endfor%}
										</select>
									</div>


									{% if data ['all_products'] |length  > 9 %}
									<div class="form-group ">
										<select id="input-limit" class="form-control" onchange="location = this.value;">

											{% for value in data ['Number_Of_Products'] : %}
											{% if max == value %}
											<option value="/products/sort={{data ['Method_Sort']}}_maxnumber={{value}}_page={{1}}" selected >{{value}} </option>
											{% else : %}
											<option value="/products/sort={{data ['Method_Sort']}}_maxnumber={{value}}_page={{1}}"  >{{value}} </option>
											{%endif%}
											{%endfor%}


										</select>
									</div>
									{%endif%}

								</div>
							</div>
						</div>
						<!-- //end Filters -->
						<!--changed listings-->
						{% for index in range (  data ['layer']  ) :  %}
						<div class="products-list grid">
							<!---->
							{% if  ((index*3)+(max*page-max) + 3) > max  : %}
								{%set end = max * page %}
							{%else%}
								{%set end = (index*3)+(max*page-max) + 3   %}
							{%endif%}

							{% for product in data ['all_products'][ (index*3)+(max*page-max) : end ] :  %}
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a   class="product-img" href="/product/{{product ['Id']}}"><img src="{{product ['Image'] }}" alt=""></a>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="/product/{{product ['Id'] }}">{{product ['Name'] }}</a></h4>	

													<div class="price">
														<span class="price-new">$ {{product ['Price']}} </span>
													</div>
													<div class="description item-desc hidden">
														<p>{{product ['Brief'] }} </p>
													</div>
												</div>
											</div><!-- right block -->
										</div>
									</div>
							{%endfor%}
						</div>	
						{%endfor%}	
						
						<!--// End Changed listings-->
						<!-- Filters -->
						
						{% if page <= data ['Max_Page'] :%}
						{% if  data ['all_products']|length > max :  %}
						{% block pages  %}
						<div class="product-filter filters-panel">
							<div class="row">
								<div class="col-md-5 visible-lg">
									<div class="view-mode">
										<div class="list-view">
											<button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip" data-original-title="Grid"><i class="fa fa-th-large" aria-hidden="true"></i></button>
											<button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
										</div>
									</div>
								</div>
								<div class="short-by-show form-inline text-right col-lg-7 col-sm-12 col-xs-12">
									<div class="text">
										{% if max*page > data ['all_products'] |length : %}
											<p>item {{max*page - max }} - {{data ['all_products'] |length}} of {{data ['all_products'] |length}} total  </p>
										{%else%}
										<p>item {{max*page - max }} - {{max*page}} of {{data ['all_products'] |length}} total </p>
										{%endif%}								
									</div>

									<div class="box-pagination text-right">
										<ul class="pagination">
											{% if data ['Selected_Sort'] != 'Default' or data['Number_Products_In_Page'] != 9 : %}

												{% if page > 1 :  %}
												{% block previous_page  %}
												<li><a href="/products/sort={{data['Method_Sort']}}_maxnumber={{max}}_page={{page-1}}">&lt;</a></li>
												<li><a href="/products/sort={{data['Method_Sort']}}_maxnumber={{max}}_page={{page-1}}">{{page-1}}</a></li>
												{% endblock  previous_page %}
												{% endif %}
												<li class="active"><span>{{page}}</span></li>
												{% if page < data ['Max_Page'] :  %}
												<li><a href="/products/sort={{data['Method_Sort']}}_maxnumber={{max}}_page={{page+1}}">{{page+1}}</a></li>
												<li><a href="/products/sort={{data['Method_Sort']}}_maxnumber={{max}}_page={{page+1}}">&gt;</a></li>
												{% endif %}

											{%else : %}
												{% if page > 1 :  %}
												{% block previous_page_2  %}
												<li><a href="/products/page={{page-1}}">&lt;</a></li>
												<li><a href="/products/page={{page-1}}">{{page-1}}</a></li>
												{% endblock  previous_page_2 %}
												{% endif %}
												<li class="active"><span>{{page}}</span></li>
												{% if page < data ['Max_Page'] :  %}
												<li><a href="/products/page={{page+1}}">{{page+1}}</a></li>
												<li><a href="/products/page={{page+1}}">&gt;</a></li>
												{% endif %}

											{%endif%}


										</ul>
									</div>
								</div>
							</div>
						</div>
						{% endblock  pages %}
						{% endif %}	
						{% endif %}	
						<!-- //end Filters -->

					</div>

				</div>


			</div>
			<!--Middle Part End-->
		</div>
		<!-- //Main Container -->
		{% include  "footer.html" %}
