
.so-spotlight1 .animation{
background:url(../static/img/slider/slider-1.jpg);
position: absolute;
background-size:cover;
animation: slide 15s infinite;
}


@keyframes slide{
	0%{
		background:url(../static/img/slider/slider-1.jpg);

	}
    50%{
		background:url(../static/img/slider/slider-2.jpg);

	}

	100%{
		background:url(../static/img/slider/slider-3.jpg);

	}

}