{% include  "DB_Header.html" %}

						<!-- Page content -->
						<div class="container-fluid pt-8">
							<div class="page-header mt-0 shadow p-3">
								<ol class="breadcrumb mb-sm-0">
									<li class="breadcrumb-item"><a href="#">Tables</a></li>
									<li class="breadcrumb-item active" aria-current="page">Post Tables</li>
								</ol>
								<div class="btn-group mb-0">
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fas fa-plus mr-2"></i>Add new Page</a>
										<a class="dropdown-item" href="#"><i class="fas fa-eye mr-2"></i>View the page Details</a>
										<a class="dropdown-item" href="#"><i class="fas fa-edit mr-2"></i>Edit Page</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> Settings</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">Posts Table</h2>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="example" class="table table-striped table-bordered w-100 text-nowrap">
													<thead>
														<tr>


															<th class="wd-15p">Title</th>
															<th class="wd-15p">Brief</th>
															<th class="wd-10p">Content</th>
															<th class="wd-25p">Media</th>
															<th class="wd-25p">Option</th>




														</tr>
													</thead>
													<tbody>
														{% for  post in data ['posts'] :%}
														<tr>

															<td class="wd-15p">{{post['Title']}}</td>
															<td class="wd-15p">{{post['Brief'][0:70]}}</td>
															<td class="wd-15p">{{post['Content'][0:70]}}</td>
															<td class="wd-20p"><img width="50px" height="50px"src="{{post['Media']}}"></td>
															<td  class="wd-25p">
																	<input  type="button" name="ADD_Student" value="Edit" onClick="delete_me({{post['Id']}})"
																				class="login100-form-btn btn-primary">

															</td>

															<script>
																	function delete_me(id_post)
																	{
																		if(confirm("Are You Want to delete Product")){
																			window.location.href='/delete_post/' + id_post +'';
																			return true;
																		}
																	}
																</script>

														</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% include  "DB_Footer.html" %}